{% block content%}
<form method="POST">
    <h1 align="center" style="color:blue;">Bienvenue !!!</h1>
    <div class="form-group">
        <label for="name">Votre Nom : </label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Taper le nom "/>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Valider</button>
</form>

{% if pseudo %}
<p>
    {{pseudo}} a vaincu {{nbre_monstre}} monstres!
</p>
<p>
    <h6>La listre des monstres :</h6>
    {% for m in liste_monstres %}
   <p> {{m}}</p>
    {% endfor %}
</p>
{% else %}
<p>Veuillez taper un nom ...</p>
{% endif %}
{% endblock %}